LETSENCRYPT_NAME="{{ item.name }}"
{% if item.numbits is defined %}
LETSENCRYPT_NUMBITS="{{ item.numbits }}"
{% endif %}
LETSENCRYPT_ACCOUNT_EMAIL="{{ item.account_email }}"
LETSENCRYPT_DOMAINS="{{ item.domains }}"
